<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'core/main.css' %}">
<style>
	body{
		background-color:{{ color }};
	}
	.choice-item{
		color: {{ color }};
	}
</style>
</head>
<body class="aboutme">


<div id="quote">
	<h1 class="quote">{{ quote }}</h1>
</div>

<div class="question" id="question">
	<h3 class="question-AB">{{ question }}</h3>
	<ul class="choice-list">
		{% for choice in choices %}
		<a href='{{ pkid }}/{{ metatag }}/{{ choice }}' class="choice-item"><li>{{ choice }}</li></a>
		{% endfor %}
	</ul>
</div>





<script>

window.setTimeout(function(){qteopac()}, 5000);
window.setTimeout(function(){qstopac()}, 5000);
window.setTimeout(function(){hidequote()}, 5000);
window.setTimeout(function(){showquestion()}, 6000);

function hidequote() {
  var x = document.getElementById("quote");
    x.style.display = "none";
}

function showquestion() {
  var x = document.getElementById("question");
    x.style.display = "block";
}

function qteopac() {
  var x = document.getElementById("quote");
    x.style.opacity = "0%";
}

function qstopac() {
  var x = document.getElementById("question");
    x.style.opacity="100%";
}
</script>
</body>
</html>